.category-title h1{
  font-size: 24px;
}
@media screen and (max-width: 599px) {

 .cat-item img {
        height: 35px;
    }
    .category-index .cat-item{
      padding: 10px;
      width:95%;
    }
    .category-container .col2{display: none;}
  }

